<ion-view view-title="About Us">
  <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>Our History</h2>
            </div>
            <div class="item item-text-wrap">
                <p>4 RIVERS WINNER is a Double International Dog Shows handled in the city of Karlovac, in Croatia, during 24th and 25th of September. The CACIB Karlovac event is organized by the Kinološki Klub Karlovac and this is in its 5th edition.
                </p>
                <p>Karlovac is a beautiful city which lays on 4 rivers, and that is why the event got this name, its also only 40 km from Zagre, the capital oft he country.</p>
            </div>
      </div>
      <ul class="list list-inset">
        <li class="item item-divider">
            <h2>Leadership</h2>
        </li>
        <li class="item item-avatar item-text-wrap" ng-repeat="leader in leaders">
            <img ng-src="{{baseURL + leader.image}}" alt="Peter Pan">
            <h3>{{leader.name}}<h3>
            <h4>{{leader.designation}}</h4>
            <p>{{leader.description}}</p>
        </li>
    </ul>
  </ion-content>
</ion-view>
